@model Potatotech.GestaoRestaurante.Web.ViewModels.RestauranteViewModel

<div class="modal fade" id="Cadastrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar ambiente</h4>
            </div>
            @using (Html.BeginForm("Cadastrar", "Restaurante"))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(a => a.ambiente.Nome)
                        @Html.TextBoxFor(a => a.ambiente.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.ambiente.Nome)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                </div>
            }
        </div>
    </div>
</div>


