@model Potatotech.GestaoRestaurante.Web.ViewModels.TipoProdutoViewModel

<div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Tipo de Produto</h4>
            </div>
            @using (Html.BeginForm("Editar", "TipoProduto"))
            {
                <div class="modal-body">
                    <input type="hidden" id="idTipoProduto" name="idTipoProduto" />
                    <div class="form-group">
                        <label>Cod.</label>
                        @Html.TextBoxFor(p => p.Id, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(t => t.Nome)
                        @Html.TextBoxFor(t => t.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Salvar Alteração</button>
                </div>
            }
        </div>
    </div>
</div>

