@model List<Potatotech.GestaoRestaurante.Web.ViewModels.MesaViewModel>
    
<table class="table">
    <thead class="row">
    <tr>
        <th class="col-md-2">Número</th>
        <th class="col-md-2">Capacidade</th>
        <th class="col-md-2">Status</th>
        <th class="col-md-2">Ambiente</th>
        <th class="col-md-2">Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Capacidade</td>
            <td>@(m.Ocupada ? "Ocupada" : "Livre")</td>
            <td>@m.Ambiente.Nome</td>
        </tr>
    }
    </tbody>
</table>
