@helper Submit(string name, string classe)
{
    <input type="submit" value="@name" class="@classe" />
}

@helper Message(object mensagem, string classe)
{
    if (mensagem != null)
    {
        <div class="@classe">
            @mensagem
        </div>
    }
}