<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/#/" class="site_title"><span>RestUrante</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-home"></i>Garçom<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Novo Pedido", "Pedido", "Garcom")</li>
                            <li>@Html.ActionLink("Histórico de Pedidos", "ListaPedidos", "Garcom")</li>
                        </ul>
                    </li>
                
                
                    <li>
                        <a><i class="fa fa-home"></i>Produtos<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Produtos", "Listar", "Produto")</li>
                            <li>@Html.ActionLink("Tipos de produtos", "Listar", "TipoProduto")</li>
                        </ul>
                    </li>
                </ul>
                
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <!-- /menu footer buttons -->
    </div>
</div>