@model Potatotech.GestaoRestaurante.Web.ViewModels.ContaViewModel
@{
    decimal total = 0;
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-xs-10">
                <h2>Finalizar Conta</h2>
            </div>
            <div class="col-xs-2">
                <a href="/Caixa/FecharConta/@Model.MesaId" type="button" class="btn btn-success">
                    Finalizar
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="x_content">
        <table class="table">
            <tbody>
            @foreach (var pe in Model.Pedido)
            {
                foreach (var p in pe.PedidosDoProduto)
                {
                    <tr>
                        <td>@p.Produto.Nome</td>
                        <td>@p.Valor</td>
                        <td>@p.Quantidade</td>
                        @{
                            total += p.Valor;
                        }
                    </tr>
                }
            }
            </tbody>
        </table>
        <h4>Total: @total</h4>
    </div>
</div>
