
@{
    ViewBag.Title = "Index";
}

<div class="x_panel">
    <div class="x_title"><h4>Fechar Conta</h4></div>
    <div class="form-group">
        <input class="form-control input-lg" />
    </div>

</div>

