@model List<Potatotech.GestaoRestaurante.Web.ViewModels.PedidoViewModel>

<table class="table table-hover">
    <thead>
    <tr class="row">
        <th class="col-md-1">Cód</th>
        <th class="col-md-7">Data/Hora</th>
        <th class="col-md-2">Detalhes</th>
        <th class="col-md-2">Cancelar</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr class="row">
            <td class="col-md-1">@p.Id</td>
            <td class="col-md-7">@p.DataHora</td>
            <td class="col-md-2"><a class="btn btn-primary">Detalhes</a></td>
            <td class="col-md-2"><a class="btn btn-danger">Cancelar</a></td>
        </tr>
    }

    </tbody>
</table>
