
@model List<Potatotech.GestaoRestaurante.Web.ViewModels.PedidoViewModel>
@{
    ViewBag.Title = "HistoricoPedidos";
}

<div class="x_panel">
    <div class="x_title"><h6>Histórico de pedidos</h6></div>
    <div class="clearfix"></div>
    
    <div class="x_content">
        <div id="tabela-container">
            <!-- tabela será inseida aqui -->
        </div>
        <ul class="pagination">
            
            <li onclick="paginaAnterior()"><a><</a></li>
            <li class="active"><a id="pagina-atual">/1</a></li>
            <li onclick="proximaPagina()"><a>></a></li>

        </ul>
    </div>
</div>

@section Scripts{
    <script>
        $(function() {
            atualizarTabela(1);
        });

        function atualizarTabela(pagina) {
            toastr.info("Carregando");
            $.get('/Garcom/TabelaPedidos?pagina=' + pagina)
                .done(function(data) {
                    $('#tabela-container').html(data);
                    $('#pagina-atual').html(pagina);
                    toastr.clear();
                })
                .fail(function() {
                    toastr.clear();
                    toastr.warning("Página não encontrada");
                });

        }

        function proximaPagina() {
            
            atualizarTabela(parseInt($('#pagina-atual').html()) + 1);
            
        }

        function paginaAnterior() {
            atualizarTabela($('#pagina-atual').html() - 1);
        }

    </script>
}